/* Fonts */
/* [Titillium] */
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Light.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Bold.ttf');
    font-weight: 800;
}
/* [Quicksand] */
@font-face {
    font-family: 'Quicksand';
    src: url('../webfonts/Quicksand/Quicksand-Regular.ttf');
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-weight: 300;
}
body {
    background-color: #fff;
}

/* TopHead */
#topHead {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    border-bottom: 1px solid #e7e7e7;
}
#topHead .container {
    height: 100%;
}
#topHead .logo {
    display: block;
    float: left;
    text-align: center;
    width: 250px;
    line-height: 70px;
    color: #1a77d9;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
    border-right: 1px solid #e7e7e7;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#topHead .logo img {
    height: 2em;
    vertical-align: middle;
    margin-left: 5px;
}
#topHead .navigation {
    float: left;
    padding-left: 20px;
    white-space: nowrap;
}
#topHead .navigation .navItem {
    display: inline-block;
    line-height: 70px;
    padding: 0px 20px;
    color: #11578c;
    font-family: 'Titillium', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#topHead .navigation .navItem span {
    transition: color 0.2s;
    position: relative;
}
#topHead .navigation .navItem span::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #e7e7e7;
    display: block;
    transition: width 0.2s;
}
#topHead .navigation .navItem:hover span {
    color: #2299dd;
}
#topHead .navigation .navItem:hover span::after {
    width: 50%;
}
#topHead .links {
    float: right;
    height: 100%;
}
#topHead .links img {
    display: block;
    height: 36px;
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#topHeadSpace {
    height: 70px;
    width: 100%;
    display: block;
}
/* Hero */
#hero {
    height: 750px;
    background-color: #fff;
}
#hero .container {
    height: 100%;
}
#hero .heroInfo {
    padding-right: 50px;
    position: relative;
    top: 200px;
    top: 20vh;
}
#hero .heroTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.8em;
    text-align: left;
}
#hero .heroDesc {
    text-align: left;
    font-family: 'Titillium', sans-serif;
    font-weight: 100;
    font-size: 1.9em;
}
#hero #heroImage {
    display: block;
    position: relative;
    margin: 0 auto;
    opacity: 1;
    width: 366px;
    transition: opacity 0.5s;
    top: 15vh;
}
#hero #heroImage.faded {
    opacity: 0.5;
}
/* Fixes a bug in some browsers */
.section#hero .splitItem {
    bottom: 1px;
    overflow: hidden;
}

#why {
    background-color: #1a77d9;
    color: #fff;
    box-shadow: 0 0 0 1px #1a77d9; /* Fixes a bug in some browsers */
}

body *::selection {
    background: rgba(0,0,0,0.2);
}

#how {
}

#what {
    background-color: #f5f5f5;
}

/* Footer */
#footer {
    background-color: #222;
}
#footer::after, #footer .container::after {
    content:'';
    clear: both;
    display: table;
}
#topFooter {
    padding: 40px 0;
}
#bottomFooter {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-family: 'Titillium', sans-serif;
}
#footer .footerColumn {
    float: left;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}
#footer .footerColumn.right {
    float: right;
}
#footer .footerItem {
    float: left;
    color: #fff;
    font-family: 'Titillium', sans-serif;
}
#footer .footerItem a {
    padding: 10px 10px;
    /* border-right: 1px solid #373737; */
    margin-right: 50px;
    display: block;
    color: #1a77d9;
    text-decoration: none;
    font-size: 15px;
}
#footer .footerItem img {
    height: 40px;
    margin: 0px 10px;
}
#footer #middleFooter {
    text-align: center;
}
#footer #middleFooter img {
    height: 70px;
}

/* Elements */
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.megaContainer {
    max-width: 1000px;
    padding: 0 50px;
}
.textShadow {
    text-shadow: 0 3px 2px rgba(0,0,0,0.2);
}

/* Page */
.pageBanner {
    width: 100%;
    height: 400px;
}
.pageBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pageContent {
    width: 100%;
    position: relative;
}
.pageNav {
    position: absolute;
    left: 0;
    width: 250px;
    padding: 20px 10px 20px 0px;
}
.pageNav #stickybox {
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    padding: 20px 0px;
    display: block;
    width: 250px;
}
.pageNav .navigationItem {
    position: relative;
    padding: 10px;
    color: #555;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Titillium', sans-serif;
    display: block;
}
.pageNav .navigationItem span {
    position: relative;
    z-index: 2;
    font-size: 16px;
}
.pageNav .navigationItem::after {
    content:'';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: #f5f5f5;
    transition: width 0.2s;
}
.pageNav .navigationItem:hover {
    color: #1a77d9;
}
.pageNav .navigationItem:hover::after {
    width: 100%;
}
#stickybox.sticked {
    position: fixed;
    top: 70px;
}
.navigationAnchor {
    position: relative;
    bottom: 85px;
}
.pageMain {
    padding: 30px 30px 30px 280px;
}
.pageTitle {
    font-family: 'Quicksand', sans-serif;
    color: #1a77d9;
    font-size: 3em;
}
.subTitle {
    font-family: 'Titillium', sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    color: #666;
    padding-left: 20px;
}
.pageText {
    padding: 20px;
}
.textParagraph {
    margin: 1em 0;
    font-size: 18px;
    font-family: 'Titillium', sans-serif;
    line-height: 1.5;
}
.textTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.9em;
    color: #555;
}
.logoText {
    color: #1a77d9;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}
.referenceTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
    color: #555;
    margin-top: 10px;
}
.referenceParagraph {
    margin: 1em 0;
    font-size: 16px;
    font-family: 'Titillium', sans-serif;
    line-height: 1.5;
    text-indent: -60px;
    margin-left: 60px;
}
.referenceParagraph a {
    word-break: break-all;
}

/* Sections */
.section {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.section.pushBottom .centerObject {
    padding-bottom: 9vw;
}
.section.separator::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    border-radius: 2px;
    background-color: #e7e7e7;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}
.section .skewSplitter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8vw;
    z-index: 2;
}
.section .skewSplitter.top {
    top: 0px;
    bottom: auto;
    height: 3vw;
}
.section .splitItem {
    width: 50%;
    height: 100%;
    float: left;
    z-index: 1;
    position: relative;
}
.section .splitItem img {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    height: 700px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.section .centerObject {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    text-align: left;
    padding: 8vw 50px;
}
.section .sectionTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    margin: 0 auto;
}
.section .sectionContent {
    font-family: 'Titillium', sans-serif;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 1.6em;
}
.section .defaultButton {
    width: 120px;
    height: 40px;
    background-color: #1a77d9;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    display: block;
    text-decoration: none;
    font-family: 'Titillium', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 7px -5px rgba(0,0,0,0.5);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.section .defaultButton:active {
    transition: all 0.1s linear;
    transform: translateY(2px);
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
}
.section .defaultButton.darker {
    background-color: #11578c;
}
.section .defaultButton span {
    position: relative;
    z-index: 2;
}
.section .defaultButton::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -15px;
    left: -10px;
    width: 110%;
    height: 0%;
    transform:rotate(10deg);
    background-color: #222;
    z-index: 1;
    transition: height 0.5s;
}
.section .defaultButton:hover::after {
    height: 170%;
}

@media only screen and (max-height: 800px) and (max-width: 400px) {
    #hero {
        height: calc(500px + 25vh);
    }
}
@media only screen and (max-height: 800px) and (max-width: 350px) {
    #hero {
        height: calc(500px + 10vh);
    }
}

/* MAX WIDTH */
@media only screen and (max-width: 1050px) {
    #hero * {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1100px) {
    #topHead .links {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    #footer .footerColumn {
        height: 150px;
    }
}
@media only screen and (max-width: 850px) {
    #topHead .container .navigation .navItem {
        padding: 0px 10px;
        font-size: 13px;
    }
    #hero .container {
       display: flex;
    }
    #hero .container .splitItem.img {
        width: 130px;        
    }
    #hero .container .splitItem.info {
        flex-grow: 1;
    }
    #hero .container .splitItem #heroImage {
        transform: translateX(-75%);
    }
    #hero .container .splitItem .heroInfo {
        padding: 0 30px;
    }
    #footer .footerColumn,
    #footer .footerColumn.right {
        height: auto;
        float: none;
    }
    #footer .footerColumn.right {
        margin-top: 15px;
    }
    #footer .footerColumn .footerItem {
        float: none;
    }
    #footer .footerColumn .footerItem a {
        text-align: center;
        margin: 0;
    }
    #footer .footerColumn .footerItem img {
        margin: 10px auto;
        display: table;
    }
    .pageNav {
        position: static;
        width: 100%;
        padding: 0;
        padding-top: 10px;
    }
    .pageNav #stickybox {
        width: 100%;
        border: none;
        padding: 10px 10px;
    }
    #stickybox.sticked {
        position: static;
        top: 0;
    }
    .pageNav .navigationItem {
        display: inline-block;
    }
    .pageMain {
        padding: 0px 20px;
    }
    .pageMain .subTitle,
    .pageMain .pageText {
        padding: 0;
    }
}
@media only screen and (max-width: 715px) {
    /* wtf gjør vi med navigasjon på mobil? */
    #topHead .logo {
        /* Removes the text in the logo */
        font-size: 0;
        width: 60px;
        height: 70px;
        margin-left: 5px;
    }
    #topHead .logo img {
        height: auto;
        width: 100%;
        margin: 0;
    }
    #topHead .container .navigation {
        border-left: none;
        margin-left: 15px;
        padding-left: 0;
        width: calc(100% - 90px);
    }
}
@media only screen and (max-width: 550px) {
    body {
        font-size: 15px;
    }
    #hero * {
        font-size: 13px;
    }
    #topHead .container .navigation {
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 460px) {
    body {
        font-size: 13px;
    }
    #hero .container .splitItem.img {
        width: 60px;        
    }
    #hero .container .splitItem #heroImage {
        transform: translateX(-83%);
    }
}
@media only screen and (max-width: 400px) {
    #hero * {
        font-size: 12px;
    }
}
@media only screen and (max-width: 350px) {
    body {
        font-size: 12px;
    }
    #hero .splitItem.img {
        display: none;
    }
}
