/* Fonts */
/* [Titillium] */
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Light.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Black.ttf');
    font-weight: 1000;
}
/* [Quicksand] */
@font-face {
    font-family: 'Quicksand';
    src: url('../webfonts/Quicksand/Quicksand-Regular.ttf');
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #fff;
}

/* TopHead */
#topHead {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    border-bottom: 1px solid #e7e7e7;
}
#topHead .container {
    height: 100%;
}
#topHead .logo {
    display: block;
    float: left;
    padding: 0px 20px;
    line-height: 70px;
    color: #1a77d9;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 21pt;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#topHead .logo img {
    height: 2em;
    vertical-align: middle;
    margin-right: 5px;
}
#topHead .navigation {
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e7e7e7;
}
#topHead .navigation .navItem {
    display: block;
    line-height: 70px;
    padding: 0px 20px;
    color: #11578c;
    font-family: 'Titillium', sans-serif;
    text-decoration: none;
    float: left;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#topHead .navigation .navItem span {
    transition: color 0.2s;
    position: relative;
}
#topHead .navigation .navItem span::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: #e7e7e7;
    display: block;
    transition: width 0.2s;
}
#topHead .navigation .navItem:hover span {
    color: #2299dd;
}
#topHead .navigation .navItem:hover span::after {
    width: 50%;
}
#topHead .links {
    float: right;
    height: 100%;
}
#topHead .links img {
    display: block;
    height: 36px;
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
#topHeadSpace {
    height: 70px;
    width: 100%;
    display: block;
}
/* Hero */
#hero {
    height: 750px;
    background-color: #fff;
}
#hero .container {
    height: 100%;
}
#hero .heroInfo {
    padding-right: 50px;
    position: relative;
    top: 200px;
}
#hero .heroTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.8em;
    text-align: left;
}
#hero .heroDesc {
    text-align: left;
    font-family: 'Titillium', sans-serif;
    font-weight: 100;
    font-size: 1.9em;
}
#hero #heroImage {
    opacity: 1;
    transition: opacity 0.5s;
}
#hero #heroImage.faded {
    opacity: 0.5;
}

#why {
    background-color: #1a77d9;
    color: #fff;
}

body *::selection {
    background: rgba(0,0,0,0.2);
}

#how {
}

#what {
    background-color: #f5f5f5;
}

/* Footer */
#footer {
    background-color: #222;
    height: 300px;
}

/* Elements */
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.megaContainer {
    max-width: 1000px;
}
.textShadow {
    text-shadow: 0 3px 2px rgba(0,0,0,0.2);
}

/* Page */
.pageBanner {
    width: 100%;
    height: 400px;
}
.pageBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pageContent {
    width: 100%;
    position: relative;
}
.pageNav {
    position: absolute;
    left: 0;
    width: 200px;
    padding: 20px 10px 20px 0px;
}
.pageNav #stickybox {
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    padding: 20px 0px;
    display: block;
    width: 200px;
}
.pageNav .navigationItem {
    position: relative;
    padding: 10px;
    color: #555;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Titillium', sans-serif;
    display: block;
}
.pageNav .navigationItem span {
    position: relative;
    z-index: 2;
}
.pageNav .navigationItem::after {
    content:'';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: #f5f5f5;
    transition: width 0.2s;
}
.pageNav .navigationItem:hover {
    color: #1a77d9;
}
.pageNav .navigationItem:hover::after {
    width: 100%;
}
#stickybox.sticked {
    position: fixed;
    top: 90px;
}
.pageMain {
    padding: 30px 30px 30px 230px;
}
.pageTitle {
    font-family: 'Quicksand', sans-serif;
    color: #1a77d9;
    font-size: 3em;
}
.subTitle {
    font-family: 'Titillium', sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    color: #666;
    padding-left: 20px;
}
.pageText {
    padding: 20px;
}
.textParagraph {
    margin: 1em 0;
    font-size: 18px;
    font-family: 'Titillium', sans-serif;
    line-height: 1.5;
}
.textTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.9em;
    color: #555;
}
.logoText {
    color: #1a77d9;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

/* Sections */
.section {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.section.pushBottom .centerObject {
    padding-bottom: 9vw;
}
.section.separator::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    border-radius: 2px;
    background-color: #e7e7e7;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}
.section .skewSplitter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8vw;
    z-index: 2;
}
.section .skewSplitter.top {
    top: 0px;
    bottom: auto;
    height: 3vw;
}
.section .splitItem {
    width: 50%;
    height: 100%;
    float: left;
    z-index: 1;
    position: relative;
}
.section .splitItem img {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    height: 700px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}
.section .centerObject {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    text-align: left;
    padding: 8vw 50px;
}
.section .sectionTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    margin: 0 auto;
}
.section .sectionContent {
    font-family: 'Titillium', sans-serif;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 1.6em;
}
.section .defaultButton {
    width: 120px;
    height: 40px;
    background-color: #1a77d9;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    display: block;
    text-decoration: none;
    font-family: 'Titillium', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 7px -5px rgba(0,0,0,0.5);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.section .defaultButton:active {
    transition: all 0.1s linear;
    transform: translateY(2px);
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
}
.section .defaultButton.darker {
    background-color: #11578c;
}
.section .defaultButton span {
    position: relative;
    z-index: 2;
}
.section .defaultButton::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -15px;
    left: -10px;
    width: 110%;
    height: 0%;
    transform:rotate(10deg);
    background-color: #222;
    z-index: 1;
    transition: height 0.5s;
}
.section .defaultButton:hover::after {
    height: 170%;
}

/* MAX HEIGHT*/
@media only screen and (max-height: 800px) {
    #hero .container .splitItem #heroImage,
    #hero .container .splitItem .heroInfo {
        top: 15vh;
    }
    #hero {
        height: calc(500px + 15vh);
    }
}
@media only screen and (max-height: 800px) and (max-width: 400px) {
    #hero {
        height: calc(500px + 25vh);
    }
}
@media only screen and (max-height: 800px) and (max-width: 350px) {
    #hero {
        height: calc(500px + 10vh);
    }
}

/* MAX WIDTH */
@media only screen and (max-width: 1000px) {
    #topHead .links {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    /* wtf gjør vi med navigasjon på mobil? */
    #topHead .container .navigation {
        border-left: none;
        display: none;
    }
    #topHead .container .navigation .navItem {
        padding: 0px 10px;
        font-size: 13px;
    }
    #hero .container {
       display: flex;
    }
    #hero .container .splitItem.img {
        width: 130px;        
    }
    #hero .container .splitItem.info {
        flex-grow: 1;
    }
    #hero .container .splitItem #heroImage {
        transform: translateX(-65%);
    }
    #hero .container .splitItem .heroInfo {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1050px) {
    #hero * {
        font-size: 14px;
    }
}
@media only screen and (max-width: 550px) {
    * {
        font-size: 15px;
    }
    #hero * {
        font-size: 13px;
    }
}
@media only screen and (max-width: 460px) {
    * {
        font-size: 13px;
    }
    #hero .container .splitItem.img {
        width: 60px;        
    }
    #hero .container .splitItem #heroImage {
        transform: translateX(-71%);
    }
}
@media only screen and (max-width: 400px) {
    #hero * {
        font-size: 12px;
    }
}
@media only screen and (max-width: 350px) {
    * {
        font-size: 12px;
    }
    #hero .splitItem.img {
        display: none;
    }
}
