/* Fonts */
/* [Titillium] */
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Light.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Titillium';
    src: url('../webfonts/Titillium_Web/TitilliumWeb-Black.ttf');
    font-weight: 1000;
}
/* [Quicksand] */
@font-face {
    font-family: 'Quicksand';
    src: url('../webfonts/Quicksand/Quicksand-Regular.ttf');
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #fff;
}

/* TopHead */
#topHead {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}
#topHead .container {
    height: 100%;
}
#topHead .logo {
    display: block;
    float: left;
    padding: 0px 20px;
    line-height: 70px;
    color: #1a77d9;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 21pt;
}
#topHead .navigation {
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e7e7e7;

}
#topHead .navigation .navItem {
    display: block;
    line-height: 70px;
    padding: 0px 20px;
    color: #11578c;
    font-family: 'Titillium', sans-serif;
    text-decoration: none;
    float: left;
    letter-spacing: 1pt;
    font-size: 12pt;
    text-transform: uppercase;
}
#topHead .navigation .navItem span {
    transition: color 0.2s;
}
#topHead .navigation .navItem:hover span {
    color: #2299dd;
}
#topHead .links {
    float: right;
    height: 100%;
}
#topHead .links img {
    display: block;
    height: 36px;
    float: left;
    margin-top: 17px;
    margin-left: 10px;
}

/* Hero */
#hero {
    height: 700px;
    background-color: #fff;
}

#test {
    height: 600px;
    background-color: #1a77d9;
}

/* Footer */
#footer {
    background-color: #222;
    height: 300px;
}

/* Elements */
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Sections */
.section {
    width: 100%;
    height: auto;
    position: relative;
}
.section .skewSplitter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 8vw;
}